h1 {
  text-align: center;
  font-size: 33px; /* Вы можете настроить размер шрифта по вашему усмотрению */
  margin-bottom: 20px; /* Отступ снизу, чтобы не было слишком тесно */
  color: #3f51b5; /* Цвет заголовка (можно изменить) */
}
