<h1 mat-dialog-title>{{ data && data.carId ? 'Редактировать автомобиль' : 'Добавить автомобиль' }}</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Марка автомобиля</mat-label>
    <mat-select [(ngModel)]="data.brand" required>
      <mat-option *ngFor="let brand of availableBrands" [value]="brand">
        {{ brand }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Госномер</mat-label>
    <input matInput [(ngModel)]="data.licensePlate" required />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Цвет</mat-label>
    <mat-select [(ngModel)]="data.color" required>
      <mat-option *ngFor="let color of availableColors" [value]="color">
        {{ color }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Номер двигателя</mat-label>
    <input matInput [(ngModel)]="data.engineNumber" required />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Дата выпуска</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="data.manufactureDate" name="manufactureDate" required />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Номер техпаспорта</mat-label>
    <input matInput [(ngModel)]="data.technicalPassportNumber" required />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Отмена</button>
  <button mat-button color="primary" (click)="onSave()">Сохранить</button>
</div>
