<h1 mat-dialog-title>{{ data && data.officerId ? 'Редактировать сотрудника' : 'Добавить сотрудника' }}</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Фамилия</mat-label>
    <input matInput [(ngModel)]="data.lastName" required/>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Имя</mat-label>
    <input matInput [(ngModel)]="data.firstName" required/>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Отчество</mat-label>
    <input matInput [(ngModel)]="data.middleName" required/>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Должность</mat-label>
    <mat-select [(ngModel)]="data.position" required>
      <mat-option *ngFor="let position of availablePositions" [value]="position">
        {{ position }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Отмена</button>
  <button mat-button color="primary" (click)="onSave()">Сохранить</button>
</div>
